<template>
  <div class="container">
    <my-header />
    <div class="columns">
      <template v-for="product in products">
        <div :key="product.id" class="column is-3">
          <nuxt-link
            :to="{
              name: 'products-slug',
              params: { slug: product.slug }
            }"
          >
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img
                    src="https://bulma.io/images/placeholders/1280x960.png"
                    alt="Placeholder image"
                  />
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-5">{{ product.name }}</p>
                  </div>
                </div>
                <div class="content is-size-6">
                  {{ product.description }}
                  <span class="tag is-light is-rounded"
                    >${{ product.price }}</span
                  >
                </div>
              </div>
            </div>
          </nuxt-link>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import MyHeader from '../../components/header'
export default {
  components: {
    MyHeader
  },
  async asyncData({ params, app }) {
    const response = await app.$axios.$get(`products?category=${params.slug}`)
    return {
      products: response.data
    }
  }
}
</script>
