<template>
  <div class="container">
    <my-header />
    <div class="columns">
      <div class="column">
        <figure class="image">
          <img src="https://bulma.io/images/placeholders/480x480.png" />
        </figure>
      </div>
      <div class="column wrap-content">
        <h1 class="title is-4">{{ product.name }}</h1>
        <h2 class="subtitle">{{ product.description }}</h2>
        <hr />
        <span class="tag is-rounded">${{ product.price }}</span>
        <product-variation
          v-for="(variations, type) in product.variations"
          :key="type"
          v-model="form.variation"
          :type="type"
          :variations="variations"
        />
        <div v-show="form.variation !== null" class="buttons has-addons">
          <div class="button is-paddingless">
            <div class="select">
              <select v-model="form.quantity" class="no-border-x">
                <template v-for="item in 10">
                  <option :key="item" :value="item">{{ item }}</option>
                </template>
              </select>
            </div>
          </div>
          <span class="button is-info is-selected">Add to cart</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MyHeader from '../../components/header'
import ProductVariation from '../../components/ProductVariation'

export default {
  components: {
    MyHeader,
    ProductVariation
  },
  data() {
    return {
      form: {
        variation: null,
        quantity: 1
      }
    }
  },
  async asyncData({ app, params }) {
    const response = await app.$axios.$get(`products/${params.slug}`)
    return {
      product: response.data
    }
  }
}
</script>

<style lang="scss" scoped>
.wrap-content {
  padding: 4rem;
  .first-field {
    margin-top: 3rem;
  }
  .no-border-x {
    border-right: 0;
    border-left: 0;
  }
}
</style>
