<template>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <nuxt-link to="/" class="navbar-item has-text-weight-bold">
        Cart
      </nuxt-link>

      <a
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <template v-for="category in categories">
          <div
            v-show="category.parent === null && category.children.length !== 0"
            :key="`category-${category.slug}`"
            class="navbar-item"
            :class="{
              'has-dropdown is-hoverable': category.children.length
            }"
          >
            <a :to="{ name: 'index' }" class="navbar-link">
              {{ category.name }}
            </a>

            <div class="navbar-dropdown">
              <template v-for="child in category.children">
                <nuxt-link
                  :key="`child-${child.slug}`"
                  :to="{
                    name: 'categories-slug',
                    params: { slug: child.slug }
                  }"
                  class="navbar-item"
                >
                  {{ child.name }}
                </nuxt-link>
              </template>
            </div>
          </div>
          <nuxt-link
            v-show="category.parent === null && category.children.length === 0"
            :key="`category-${category.id}`"
            :to="{ name: 'categories-slug', params: { slug: category.slug } }"
            class="navbar-item"
          >
            {{ category.name }}
          </nuxt-link>
        </template>
      </div>

      <div class="navbar-end">
        <!-- <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div> -->
        <div class="navbar-item has-text-weight-bold">
          Thaycacac
        </div>
        <div class="navbar-item">
          Orders
        </div>
        <div class="navbar-item">
          Cart(0)
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters({
      categories: 'categories'
    })
  }
}
</script>

<style lang="scss" scoped>
.navbar {
  margin-bottom: 1rem;
}
</style>
