<template :key="type">
  <div class="field field-top">
    <label class="label">{{ type }}</label>
    <div class="control">
      <div class="select">
        <select @change="change($event, type)">
          <option value="null">Select dropdown</option>
          <template v-for="item in variations">
            <option :key="item" :value="item.id">
              {{ item.name }}
              <template v-if="item.price !== '0$'">
                ({{ item.price }})
              </template>
            </option>
          </template>
        </select>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    type: {
      required: true,
      type: String
    },
    variations: {
      required: true,
      type: Array
    }
  },
  methods: {
    change(event, type) {
      this.$emit('input', this.findVariation(event.target.value))
    },
    findVariation(id) {
      const variation = this.variations.find(item => item.id === Number(id))
      if (!variation) {
        return null
      }
      return variation
    }
  }
}
</script>

<style lang="scss" scoped>
.field-top {
  margin-top: 1rem;
}
</style>
