<template>
  <div class="container">
    <my-header />
    <div class="wrap-content">
      <h4 class="title is-4">Your cart</h4>
      <div class="wrap-list has-background-white-ter">
        <div class="columns">
          <div class="column is-1">
            <figure class="image is-64x64">
              <img src="https://bulma.io/images/placeholders/128x128.png" />
            </figure>
          </div>
          <div class="column is-7">
            Cong hoa xa hoi chu nghia viet nam (1kg)
          </div>
          <div class="column is-2">
            <div class="select">
              <select>
                <option>1</option>
                <option>2</option>
              </select>
            </div>
          </div>
          <div class="column is-1">
            $10.00
          </div>
          <div class="column is-1">
            <p class="is-underline">Remove</p>
          </div>
        </div>
        <div class="columns">
          <div class="column is-1">
            <figure class="image is-64x64">
              <img src="https://bulma.io/images/placeholders/128x128.png" />
            </figure>
          </div>
          <div class="column is-7">
            Cong hoa xa hoi chu nghia viet nam (1kg)
          </div>
          <div class="column is-2">
            <div class="select">
              <select>
                <option>1</option>
                <option>2</option>
              </select>
            </div>
          </div>
          <div class="column is-1">
            $10.00
          </div>
          <div class="column is-1">
            <p class="is-underline">Remove</p>
          </div>
        </div>
        <div class="columns">
          <div class="column is-8"></div>
          <div class="column is-2 has-text-weight-bold">
            subtotal
          </div>
          <div class="column is-1">
            $10.00
          </div>
          <div class="column is-1"></div>
        </div>
      </div>
      <button class="button is-info is-fullwidth checkout">Checkout</button>
    </div>
  </div>
</template>

<script>
import MyHeader from '../components/header'
export default {
  components: {
    MyHeader
  }
}
</script>

<style lang="scss" scoped>
.wrap-content {
  padding: 3rem;
  .wrap-list {
    padding: 2rem;
  }
  .is-underline {
    text-decoration: underline;
    cursor: pointer;
  }
  .checkout {
    margin-top: 2rem;
  }
}
</style>
