<template>
  <div class="container">
    <my-header />
    <div class="columns">
      <div class="column is-9">
        <div class="wrap-list has-background-white-ter">
          <h4 class="title is-5">Ship to</h4>
          <button class="button is-info">Add an address</button>
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" type="text" placeholder="Text input" />
            </div>
          </div>
          <div class="field">
            <label class="label">Address line 1</label>
            <div class="control">
              <input class="input" type="text" placeholder="Text input" />
            </div>
          </div>
          <div class="field">
            <label class="label">City</label>
            <div class="control">
              <input class="input" type="text" placeholder="Text input" />
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">Postal code</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Text input" />
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label">Postal code</label>
                <div class="control">
                  <div class="select is-fullwidth">
                    <select>
                      <option>Select dropdown</option>
                      <option>With options</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="button is-info">Add an address</button>
          <span class="is-underline cancel">Cancel</span>
        </div>
        <div class="wrap-list has-background-white-ter">
          <h4 class="title is-5">Payment</h4>
          <button class="button is-info">Add a payment method</button>
        </div>
        <div class="wrap-list has-background-white-ter">
          <h4 class="title is-5">Your cart</h4>
          <div class="columns">
            <div class="column is-1">
              <figure class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png" />
              </figure>
            </div>
            <div class="column is-7">
              Cong hoa xa hoi chu nghia viet nam (1kg)
            </div>
            <div class="column is-2">
              <div class="select">
                <select>
                  <option>1</option>
                  <option>2</option>
                </select>
              </div>
            </div>
            <div class="column is-1">
              $10.00
            </div>
            <div class="column is-1">
              <p class="is-underline">Remove</p>
            </div>
          </div>
          <div class="columns">
            <div class="column is-1">
              <figure class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png" />
              </figure>
            </div>
            <div class="column is-7">
              Cong hoa xa hoi chu nghia viet nam (1kg)
            </div>
            <div class="column is-2">
              <div class="select">
                <select>
                  <option>1</option>
                  <option>2</option>
                </select>
              </div>
            </div>
            <div class="column is-1">
              $10.00
            </div>
            <div class="column is-1">
              <p class="is-underline">Remove</p>
            </div>
          </div>
          <div class="columns">
            <div class="column is-8"></div>
            <div class="column is-2 has-text-weight-bold">
              subtotal
            </div>
            <div class="column is-1">
              $10.00
            </div>
            <div class="column is-1"></div>
          </div>
        </div>
        <div class="wrap-list has-background-white-ter">
          <button class="button is-info is-fullwidth" disabled>
            Place order
          </button>
        </div>
      </div>
      <div class="column is-3">
        <div class="wrap-list has-background-white-ter">
          <h4 class="title is-5">Ship to</h4>
          <button class="button is-info" disabled>Add an address</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MyHeader from '../components/header'
export default {
  components: {
    MyHeader
  }
}
</script>

<style lang="scss" scoped>
.wrap-list {
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}
.is-underline {
  text-decoration: underline;
  cursor: pointer;
}
.cancel {
  line-height: 38px;
  margin-left: 10px;
}
</style>
