<template>
  <div class="container">
    <my-header />
    hello
  </div>
</template>

<script>
import MyHeader from '../components/header'

export default {
  components: {
    MyHeader
  }
}
</script>
<style></style>
