<template>
  <div class="container">
    <my-header />
    <div class="wrap-content">
      <h4 class="title is-4">Your cart</h4>
      <div class="wrap-list has-background-white-ter">
        <div class="columns">
          <div class="column is-1">
            #1
          </div>
          <div class="column is-3">
            2018-08-4 17:41:20
          </div>
          <div class="column is-3">
            <ul>
              <li>
                <a href="#" class="is-underline has-text-black"
                  >Cong hoa xa hoi</a
                >
              </li>
              <li>
                <a href="#" class="is-underline has-text-black"
                  >Chu nghia viet nam</a
                >
              </li>
            </ul>
          </div>
          <div class="column is-3">
            $50.00
          </div>
          <div class="column is-2">
            <button class="button is-info">processing</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MyHeader from '../components/header'
export default {
  components: {
    MyHeader
  }
}
</script>

<style lang="scss" scoped>
.wrap-content {
  .wrap-list {
    padding: 2rem;
  }
  .is-underline {
    text-decoration: underline;
    cursor: pointer;
  }
  .checkout {
    margin-top: 2rem;
  }
}
</style>
